<!DOCTYPE html>
<html>
	<head>
		<title>Informações</title>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	</head>
	<body>
		<div class = "container">
			<table class="bordered centered highlight responsive-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cargo</th>
						<th>Departamemto</th>
						<th>Matricula</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{funcionario.nome}}</td>
						<td>{{funcionario.cargo}}</td>
						<td>{{funcionario.departamento}}</td>
						<td>{{funcionario.matricula}}</td>
					</tr>
				</tbody>
		</div>
		</table>
	</body>
</html>